<div class="row justify-content-center">
    <div class="col"></div>
    <div class="col text-center">
        <img alt="Marvel Logo" src="../../assets/images/marvel-logo.png" class="w-50 mt-4 rounded">
        <div class="input-group mb-2 mt-3">
            <div class="input-group-prepend">
                    <span class="input-group-text before" id="basic-addon1">
                        <font-awesome-icon :icon="['fas', 'search']"/>
                    </span>
            </div>
            <input type="text" class="form-control" placeholder="Nom d'un personnage" v-model="characterName">
            <div class="input-group-append" v-if="isLoading">
                <span class="input-group-text after">
                    <font-awesome-icon :icon="['fas', 'spinner']" spin/>
                </span>
            </div>
        </div>
        <div class="input-group mb-3">
            <ul class="list-group shadow" style="width: 100%">
                <li class="list-group-item" v-for="character in characters" :key="character.id">
                    {{ character.name }}
                </li>
            </ul>
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="row justify-content-center">
    <div class="col"></div>
    <div class="col-auto">
        <button type="button" class="btn btn-dark" @click="$router.push('search')">Rechercher</button>
        <span class="ml-2 mr-2"></span>
        <button type="button" class="btn btn-dark">J'ai de la chance</button>
    </div>
    <div class="col"></div>
</div>
