<div class="row justify-content-center">
    <div class="col col-lg-2"></div>
    <div class="col-md-auto">
        <img alt="Marvel Logo" src="../../assets/images/marvel-logo.png">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <font-awesome-icon :icon="['fas', 'search']"/>
                    </span>
            </div>
            <input type="text" class="form-control" placeholder="Nom d'un personnage" v-model="characterName">
        </div>
        <div class="input-group mb-3">
            <ul class="list-group" style="width: 100%">
                <li class="list-group-item" v-for="character in characters" :key="character.id">{{character.name}} - Nbr. de Séries : {{character.series.length}} - Event : {{character.events}}</li>
            </ul>
        </div>
    </div>
    <div class="col col-lg-2"></div>
</div>
<div class="row justify-content-center">
    <div class="col col-lg-2"></div>
    <div class="col-md-auto">
        <button type="button" class="btn btn-primary">Rechercher</button>
    </div>
    <div class="col-md-auto">
        <button type="button" class="btn btn-primary">J'ai de la chance</button>
    </div>
    <div class="col col-lg-2"></div>
</div>
