.form-control {
  border-radius: 0 25px 25px 0;
}

.input-group-text {
  background-color: #ffffff;

  &.before {
    border-radius: 25px 0 0 25px;
  }

  &.after {
    border-radius: 0 25px 25px 0;
  }
}

.list-group-item {
  padding: 0.25rem 1.25rem;
}
