html,
body, #app {
  height: 100%;
  background-image: linear-gradient(156deg, #0000007d 0%, rgba(42, 49, 65, 0.8547794118) 89%);
  background-attachment: fixed;
}

.container-fluid {
  padding-top: 15px;
}

.table th, .table td {
  padding: 0.25rem;
  vertical-align: middle;
}
