html,
body, #app {
  height: 100%;
  background-color: dimgrey;
  background-attachment: fixed;
}

.container-fluid {
  padding-top: 15px;
}

.table th, .table td {
  padding: 0.25rem;
  vertical-align: middle;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}
